In [1]:
import pandas as pd

In [7]:
import numpy as np
from sklearn.metrics import confusion_matrix
# from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [9]:
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Preprocessed_data.csv")

In [5]:
df.head(1)

,price,type,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,state,pets_allowed
0,1220,0,1232,2,2,0,0,0,0,3,4,10,1

In [8]:
df.shape

(116039, 13)

In [10]:
X = df.drop(columns =["type"])
Y = df.values[:, 1]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 100)

In [14]:
classifier = DecisionTreeClassifier(criterion = "gini",random_state = 100)

In [15]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier(random_state=100)

In [16]:
y_pred = classifier.predict(X_test)

In [18]:
confusion_matrix(y_test, y_pred)

array([[ 4101,   272,     0,    27],
       [  297,  4859,   413,   578],
       [    0,   361,  6572,    58],
       [   27,   591,    86, 10768]], dtype=int64)

In [19]:
accuracy_score(y_test,y_pred)*100

90.65839365735953

In [20]:
classification_report(y_test, y_pred)

'              precision    recall  f1-score   support\n\n           0       0.93      0.93      0.93      4400\n           1       0.80      0.79      0.79      6147\n           2       0.93      0.94      0.93      6991\n           3       0.94      0.94      0.94     11472\n\n    accuracy                           0.91     29010\n   macro avg       0.90      0.90      0.90     29010\nweighted avg       0.91      0.91      0.91     29010\n'

# For test

In [28]:
y_pred

array([3, 1, 0, ..., 1, 0, 1], dtype=int64)

In [33]:
df_p = pd.DataFrame({"Type": y_pred})

In [34]:
newDf=pd.concat([X_test,df_p], axis=1, join='inner')

In [37]:
newDf.head(5)

,price,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,state,pets_allowed,Type
16942,1255,772,2,1,1,0,0,0,4,4,34,1,2
327,750,900,2,2,1,0,0,0,1,4,32,1,3
19532,2500,1166,3,2,0,1,0,0,4,5,31,1,2
11029,1800,602,1,1,0,0,0,0,1,4,19,1,1
3295,2100,2000,4,2,0,0,0,0,3,0,37,1,0

In [40]:
X_test

,price,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,state,pets_allowed
34672,1475,817,1,1,0,0,0,0,4,4,31,1
36697,1049,1344,2,2,1,0,0,0,3,4,22,1
107971,1020,700,1,1,0,0,0,0,4,4,14,1
85315,1520,1327,2,2,1,0,0,0,4,4,18,1
56156,950,1412,3,1,1,1,0,0,4,0,22,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6150,864,1258,3,2,1,0,0,0,3,4,10,1
89658,750,935,2,1,0,1,0,0,4,2,12,1
85437,1275,1200,2,1,1,0,0,0,4,4,34,1
30066,1039,1080,2,2,0,0,0,0,3,1,10,1
36441,1850,2213,4,2,0,0,0,1,0,0,37,0

# for later use

In [ ]:
def train_using_DecisionTreeClassifier(X_train,y_train):
    classifier = DecisionTreeClassifier(criterion = "gini",random_state = 100)
    classifier.fit(X_train,y_train)
    return classifier

In [ ]:
def prediction(X_test,Classifier_Type):
    predict = Classifier_Type.predict(X_test)
    return predict

In [ ]:
def check_accuracy(y_test,predict):
    print("Confusion Matrix: ",confusion_matrix(y_test, predict))
    print("Accuracy : ",accuracy_score(y_test,predict)*100)
    print("Report : ",classification_report(y_test, predict))