PRE-PROCESSED DATA SET USED

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats

In [5]:
df = pd.read_csv("E:/SLIIT/3RD YEAR 2ND SEM/Fundamentals of Data Mining/GIT-FDM/Nethmi/Preprocessed_data.csv")

In [6]:
df.head(5)

,price,type,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,state,pets_allowed
0,1345,0,834,1,1.0,1,0,0,0,1,4,10,1
1,1600,6,3537,4,3.5,0,0,0,0,3,0,10,0
2,1205,0,1299,2,2.0,1,0,0,0,3,4,10,1
3,1205,0,1299,2,2.0,1,0,0,0,3,4,10,1
4,1245,0,1299,2,2.0,1,0,0,0,3,4,10,1

RANDOM FOREST MODEL BUILDING

In [7]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=df[['price', 'sqfeet', 'beds', 'baths', 'smoking_allowed', 'wheelchair_access', 'electric_vehicle_charge', 'comes_furnished', 'laundry_options', 'parking_options', 'state', 'pets_allowed']]  # Features
y=df['type']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [8]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [9]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9127025163736643

In [10]:
df.head(5)

,price,type,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,state,pets_allowed
0,1345,0,834,1,1.0,1,0,0,0,1,4,10,1
1,1600,6,3537,4,3.5,0,0,0,0,3,0,10,0
2,1205,0,1299,2,2.0,1,0,0,0,3,4,10,1
3,1205,0,1299,2,2.0,1,0,0,0,3,4,10,1
4,1245,0,1299,2,2.0,1,0,0,0,3,4,10,1

In [15]:
df.loc[df['type'] == 6]

,price,type,sqfeet,beds,baths,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,laundry_options,parking_options,state,pets_allowed
1,1600,6,3537,4,3.5,0,0,0,0,3,0,10,0
105,1100,6,1377,3,2.0,0,0,0,0,3,4,10,0
106,850,6,1204,3,2.0,0,0,0,0,3,1,10,0
121,800,6,1435,3,2.0,1,0,0,0,3,4,10,0
131,1200,6,1700,3,2.0,0,0,0,0,3,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115889,1850,6,1306,3,2.0,1,0,0,0,3,0,37,1
115896,1590,6,2053,3,2.5,1,0,0,0,0,0,37,1
115973,2000,6,2400,3,3.0,1,0,0,0,3,0,37,0
116000,3100,6,2400,5,3.0,0,0,0,0,3,0,37,1
116014,1509,6,2332,5,3.0,1,0,0,0,3,0,37,1

In [16]:
#clf.predict([[1345, 834, 1, 1, 1, 0, 0, 0, 1, 4, 10, 1 ]])

#clf.predict([[1500, 1495, 2, 2, 0, 0, 0, 0, 3, 2, 37, 0 ]])

clf.predict([[1509, 2332, 5, 3, 1, 0, 0, 0, 3, 0, 37, 1 ]])

array([6], dtype=int64)